@model BibliotecaNet.Apresentation.ViewModels.PessoaCadastroVM
@{
}



<form id="form" method="post">
    <h4>Cadastrar usuário</h4>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <label asp-for="Nome"></label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        <div class="col-md-3">
            <label asp-for="TipoPessoaId">Perfil</label>
            <select class="form-control" asp-for="TipoPessoaId">

                @foreach (var item in Enum.GetNames(typeof(BibliotecaNet.Common.PessoaTipoEnum)))
                {
                    <option value="@((int)Enum.Parse<BibliotecaNet.Common.PessoaTipoEnum>(item))">@item</option>
                }
            </select>
            <span asp-validation-for="TipoPessoaId" class="text-danger"></span>
        </div>

    </div>

    <h4>Endereços</h4>
    <hr />

    <partial name="_EnderecoUsuario" />


    <h4>Contatos</h4>
    <hr />
    <partial name="_ContatoUsuario" />

    <h4>Documento</h4>
    <hr />
    <partial name="_DocumentoUsuario" />

    <div class="row">
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary" style="margin-top:30px">Cadastrar</button>
        </div>
    </div>

</form>

<input type="hidden" id="hdnTotalContatos" name="hdnTotalContatos" value="0" />
<input type="hidden" id="hdnTotalEnderecos" name="hdnTotalEnderecos" value="0" />
<input type="hidden" id="hdnTotalDocumentos" name="hdnTotalDocumentos" value="0" />

@section Scripts {
    <script src="~/js/jquery.mask.js"></script>
    <script src="~/js/Pessoa/_contato-usuario.js"></script>
    <script src="~/js/Pessoa/_documento-usuario.js"></script>
    <script src="~/js/Pessoa/_endereco-usuario.js"></script>
}