@model BibliotecaNet.Apresentation.ViewModels.AcervoMovimentacao.AcervoMovimentacaoVM

<form id="form" method="post">
    <h4>Cadastrar de Retirada</h4>
    <hr />
    <input type="hidden" asp-for="Id" />

    <div class="row">
        <div class="col-md-4">
            <label>Acervo</label>
            <select class="form-control" asp-for="AcervoId">
            </select>
            <span asp-validation-for="AcervoId" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label>Pessoa</label>
            <select class="form-control" asp-for="PessoaId">
            </select>
            <span asp-validation-for="PessoaId" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label>Funcionario</label>
            <select class="form-control" asp-for="UsuarioId">
            </select>
            <span asp-validation-for="UsuarioId" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary" style="margin-top:30px">Cadastrar</button>
            <a href="/AcervoMovimentacao" class="btn btn-danger" style="margin-top:30px">Voltar</a>
        </div>
    </div>
</form>



@section Scripts {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    <script>
        $(function () {

            $('#AcervoId').select2({
                ajax: {
                    url: 'BuscarAcervoSelect',
                    dataType: 'json'
                },
                delay: 250
            });

            $('#PessoaId').select2({
                ajax: {
                    url: 'ListarPessoas',
                    dataType: 'json'
                },
                delay: 250
            });

            $('#UsuarioId').select2({
                ajax: {
                    url: 'BuscarFuncionarioSelect',
                    dataType: 'json'
                },
                delay: 250
            });
        })

        let Salvar = function() {
            $.post('/AcervoMovimentacao/Cadastro', $("form").serializeObject()).done(function (data) {
                swal(data)
            })
        }
    </script>
}
