<h4>Movimentação</h4>
<hr />

<div class="row">
    <div class="col-md-12">
        <table id="table"
               data-toggle="table"
               data-locale="pt-BR"
               data-height="460"
               data-ajax="ajaxRequest"
               data-search="true"
               data-side-pagination="server"
               data-buttons="buttons"
               data-pagination="true">
            <thead>
                <tr>
                    <th data-field="acervo">Acervo</th>
                    <th data-field="pessoa">PEssoa</th>
                    <th data-field="usuario">Funcionario</th>
                    <th data-field="dataEmprestimo">Data de Emprestimo</th>
                    <th data-field="dataPrazoDevolucao">limite de Devolução</th>
                    <th data-field="dataDevolucao">Data Prazo</th>
                    <th data-field="situacao">Situação</th>
                    <th data-field="" data-formatter="exibirIconesGrid">Exibir consulta</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

<script type="text/javascript">

    function exibirIconesGrid(value, row) {
        return `<a class="btn" href='#/AcervoMovimentacao/Cadastro/${row.id}' >
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrows-angle-expand" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z"/>
</svg>
</a>`;
    }

    function ajaxRequest(params) {
        var url = '/AcervoMovimentacao/ListarMovimentacoes'

        $.get(url + '?' + $.param(params.data)).then(function (res) {
            params.success(res)
        })
    }

    function buttons() {
        return {

            btnAdd: {
                text: 'Cadastrar',
                icon: 'fa-plus',
                event: function () {
                    window.location = '/AcervoMovimentacao/Cadastro'
                },
                attributes: {
                    title: 'Novo'
                }
            }
        }
    }

</script>

