@model BibliotecaNet.Apresentation.ViewModels.Acervo.AcervoVM


<form id="form" method="post">
    <h4>Cadastrar de acervo</h4>
    <hr />
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-md-8">
            <label asp-for="Titulo"></label>
            <input asp-for="Titulo" class="form-control" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <label asp-for="Edicao"></label>
            <input asp-for="Edicao" class="form-control" />
            <span asp-validation-for="Edicao" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <label asp-for="Ano"></label>
            <input asp-for="Ano" class="form-control" />
            <span asp-validation-for="Ano" class="text-danger"></span>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Categoria</label>
            <select class="form-control" asp-for="CategoriaId">
            </select>
            <span asp-validation-for="CategoriaId" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label>Editora</label>
            <select class="form-control" asp-for="EditoraId">
            </select>
            <span asp-validation-for="EditoraId" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label>Autor</label>
            <select class="form-control" asp-for="AutorId">
            </select>
            <span asp-validation-for="AutorId" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary" style="margin-top:30px">Cadastrar</button>
        </div>
    </div>
</form>
@section Scripts {

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(function () {

            $('#CategoriaId').select2({
                ajax: {
                    url: 'BuscarCategoriaSelect',
                    dataType: 'json'
                },
                delay: 250
            });

            $('#EditoraId').select2({
                ajax: {
                    url: 'BuscarEditoraSelect',
                    dataType: 'json'
                },
                delay: 250
            });

            $('#AutorId').select2({
                ajax: {
                    url: 'BuscarAutorSelect',
                    dataType: 'json'
                },
                delay: 250
            });

        })
    </script>
}
