@model BibliotecaNet.Apresentation.ViewModels.Usuario.UsuarioVM

<form id="form" method="post">
    <h4>Cadastrar usuário</h4>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" style="margin-top:30px" onclick="Salvar()">Cadastrar</button>
            <a href="/Usuario/Index" class="btn btn-danger" style="margin-top:30px">Voltar</a>
        </div>
    </div>
</form>


@section Scripts {
    <script>
    let Salvar = function () {
        $.post('/Usuario/Cadastro', $('#form').serializeArray()).done(function (data) {
            Swal.fire({
                title: 'Atenção!',
                text: data,
                icon: 'success'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location = '/Usuario'
                };
            })
        })
    }
    </script>
}