@model BibliotecaNet.Apresentation.ViewModels.PessoaDocumento.PessoaDocumentoVM
<form id="form" method="post">
    <h4>Cadastro de tipo de documento</h4>
    <hr />

    <div class="row">
        <div class="col-md-3">
            <label asp-for="Descricao"></label>
            <input asp-for="Descricao" class="form-control" />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Mascara"></label>
            <input asp-for="Mascara" class="form-control" />
            <span asp-validation-for="Mascara" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Obrigatorio">Obrigatório</label>
            <input type="checkbox" asp-for="Obrigatorio" />
            <span asp-validation-for="Obrigatorio" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" style="margin-top:30px" onclick="Salvar()">Cadastrar</button>
            <a href="/PessoaDocumento/Index" class="btn btn-danger" style="margin-top:30px">Voltar</a>
        </div>
    </div>

</form>

@section Scripts {
    <script>
    let Salvar = function () {
        $.post('/PessoaDocumento/Cadastro', $('#form').serializeArray()).done(function (data) {
            Swal.fire({
                title: 'Atenção!',
                text: data,
                icon: 'success'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location = '/PessoaDocumento'
                };
            })
        })
    }
    </script>
}