@model BibliotecaNet.Apresentation.ViewModels.PessoaDocumento.PessoaDocumentoVM
<form id="form" method="post">
    <h4>Cadastro de tipo de documento</h4>
    <hr />

    <div class="row">
        <div class="col-md-3">
            <label asp-for="Descricao"></label>
            <input asp-for="Descricao" class="form-control" />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Mascara"></label>
            <input asp-for="Mascara" class="form-control" />
            <span asp-validation-for="Mascara" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Obrigatorio">Obrigatório</label>
            <input type="checkbox" asp-for="Obrigatorio" />
            <span asp-validation-for="Obrigatorio" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary" style="margin-top:30px">Cadastrar</button>
        </div>
    </div>

</form>