@model BibliotecaNet.Apresentation.ViewModels.PessoaCadastroVM

<form id="form" method="post">
    <h4>Cadastrar Autor</h4>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <label asp-for="Nome"></label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" style="margin-top:30px" onclick="Salvar()">Cadastrar</button>
            <a href="/Autor" class="btn btn-danger" style="margin-top:30px">Voltar</a>
        </div>
    </div>

</form>


@section Scripts {
<script>
    let Salvar = function () {
        $.post('/Autor/Cadastrar', $('#form').serializeArray()).done(function (data) {
            Swal.fire({
                title: 'Atenção!',
                text: data,
                icon: 'success'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location = '/Autor'
                };
            })
        })
    }
</script>
}